.angular-google-map-container{
	
	height: 400px;
}

.item{
	
	border: 1px #ccc solid;
	border-radius: 5px;
	height: 150px;
	padding: 5px 5px;

}

.shape{
	
	border: 1px #ccc solid;
	border-radius: 5px;
	


}

.departure {
	
	border: 1px #ccc solid;
	border-radius: 5px;

}