<div class="col-md-12 schedules-section" ng-controller="SchedulesCtrl">	
   <div class="row">
     <h2 class="text-center logo">Transit App</h2>
   </div>
   <div class="row">
      <p class="text-center desc-para">Enter any station and get the schedule for the next bus and train.</p>
   </div>
	 <div class="row">
       <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <form ng-submit="ask(station)">
            <div class="station-inp text-center">
              <input type="text" class="text-center" ng-model="station" placeholder="Enter a station">
            </div>           
            <div class="text-center station-search-btn">
              <button type="submit" class="search-btn">Search...</button>
            </div> 
            <div class="text-center station-inp">
              <input type="text" class="text-center" ng-model="searchText" placeholder="Filter by bus ID">
            </div> 

          </form>
        </div>
        <div class="col-sm-3"></div>
      </div>
	<div>{{message}}</div>

	<div ng-repeat="item in stop_times | filter:searchText" class="col-sm-4 item">
    <div class="inner-item what">  
        <div class="col-xs-12 shape">{{item.shape}}</div>
        <div class="col-xs-12 departure">Departure time: {{item.departure_time}}</div>
    </div>
	</div>

</div>

