.angular-google-map-container{
	
	height: 400px;
}

.station-inp{
	
	margin-top: 150px;
	margin-botton: 15px;

}

.station-search-btn {
	margin-top: 15px;

}
.item{
	
	border: 1px #ccc solid;
	border-radius: 5px;
	height: 150px;
	padding: 5px 5px;
	margin-top: 40px;

}

.shape{
	
	border: 1px #ccc solid;
	border-radius: 5px;
	


}

.departure {
	
	border: 1px #ccc solid;
	border-radius: 5px;

}

